<a href="https://colab.research.google.com/github/Wolfgang-Amadeus-Mozart/PostgreeWithPython/blob/main/PostGree_Manipulation_parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install faker
#!pip install psycopg2-binary

Collecting faker
  Downloading faker-40.1.2-py3-none-any.whl.metadata (16 kB)
Downloading faker-40.1.2-py3-none-any.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 19.4 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-40.1.2

In [3]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import create_engine, text
from faker import Faker
from datetime import date
import random
import numpy as np
from google.colab import userdata

fake = Faker('pt_BR')

db_user = userdata.get('DB_USER')
db_pass = userdata.get('DB_PASS')
db_host = userdata.get('DB_HOST')   # ou IP do servidor
db_port = userdata.get('DB_PORT')   # porta do container de postgres
db_name = 'geonames'

# Criação da Connection String formatada

# Estrutura: postgresql+driver://user:pass@host:port/dbname
connection_string = f"postgresql+psycopg2://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}"

# Criando a engine de conexão
engine = create_engine(connection_string)

# Testando a conexão
try:
    with engine.connect() as connection:
        print("Conexão com SQLAlchemy realizada com sucesso!")
except Exception as e:
    print(f"Erro ao conectar: {e}")

Conexão com SQLAlchemy realizada com sucesso!

In [ ]:
#Criando uma função para execução de DDL DML
def connection(command, engine, params=None):
  with engine.begin() as connection:
    if params:
      result = connection.execute(text(command), params)
    else:
      result = connection.execute(text(command))
    return result

In [ ]:
nomes = []
enderecos_completos = []


for i in range(1,1000):
  nomes.append(fake.name())
  enderecos_completos.append(fake.address())

enderecos_completos = [i for i in enderecos_completos]
enderecos_completos = [i.split('\n') for i in enderecos_completos]
#---------------

#listas que ireao receber os valores de fake.address()
rua = []
numero = []
bairro = []
cidade = []
estado = []
cep = []

#iterando sobre cada item de enderecos_completos, quebrando o texto a cada iteração para extrair a informação desejada
for i in enderecos_completos:
  rua.append(i[0].split(',')[0])
  if len(i[0].split(',')) > 1:
    numero.append(i[0].split(',')[1])
  else:
    numero.append('SN') #algumas vezes fake.addres() gera ruas sem numeros, por isso essa tratativa
  bairro.append(i[1])
  cep.append(i[2].split(' ')[0])
  cidade.append(i[2].split(' ')[1])
  estado.append(i[2].split('/')[1])

#gerando um dataframe com as informações de cada lista
df = pd.DataFrame(
    {
     'nome': nomes,
     'endereco': rua,
     'numero': numero,
     'bairro': bairro,
     'cidade': cidade,
     'estado': estado,
     'cep': cep

    }
    )

df.head(10)

,nome,endereco,numero,bairro,cidade,estado,cep
0,Isabella Costa,Morro de Cavalcanti,58,Casa Branca,Novais,PA,55595-907
1,Sra. Natália Pires,Viela de Farias,86,Pirineus,Novais,SP,60683288
2,Maria Luiza Aragão,Aeroporto de da Rosa,21,Jatobá,Rodrigues,RJ,56609-687
3,Mariah Caldeira,Jardim Gomes,32,Gutierrez,Novais,AP,92291540
4,Luiz Felipe Mendonça,Rodovia Pastor,17,Alto Vera Cruz,Lopes,PE,70518125
5,Dra. Bárbara Rezende,Alameda de Caldeira,9,Marilandia,Macedo,PA,32439353
6,Stella Duarte,Trevo de Sá,SN,Dom Joaquim,Pereira,RJ,47359582
7,Vicente Costela,Fazenda da Cruz,6,São Luiz,Guerra,AM,01493-732
8,Davi Luiz Sales,Sítio Lima,64,Jaqueline,Peixoto,PE,27581181
9,Luiz Felipe Ramos,Estação Danilo Alves,34,Xodo-Marize,Nascimento,PI,64864-289

In [ ]:
#Comando para criar a tabela
command = """
  CREATE TABLE IF NOT EXISTS clientes (
    id SERIAL,
    nome VARCHAR(255) NOT NULL,
    endereco VARCHAR(100) NOT NULL,
    numero VARCHAR(10) NOT NULL,
    bairro VARCHAR(50) NOT NULL,
    cidade VARCHAR(50) NOT NULL,
    estado VARCHAR(3) NOT NULL,
    cep VARCHAR(10) NOT NULL,


    CONSTRAINT pk_clientes_id PRIMARY KEY (id)
)
"""


connection(command, engine)

In [ ]:
#inserindo os dados no banco, o comando já cria a tabela
df.to_sql(
    'clientes',
    engine,
    if_exists='append',
    index=False
)

999

In [ ]:
#consultando os dados
query = """
  SELECT * FROM clientes
"""

df = pd.read_sql(
    query,
    engine
)

#removendo o index do dataframe
df = df.reset_index(drop=True)

df.head(10)

,id,nome,endereco,numero,bairro,cidade,estado,cep
0,1,Isabella Costa,Morro de Cavalcanti,58,Casa Branca,Novais,PA,55595-907
1,2,Sra. Natália Pires,Viela de Farias,86,Pirineus,Novais,SP,60683288
2,3,Maria Luiza Aragão,Aeroporto de da Rosa,21,Jatobá,Rodrigues,RJ,56609-687
3,4,Mariah Caldeira,Jardim Gomes,32,Gutierrez,Novais,AP,92291540
4,5,Luiz Felipe Mendonça,Rodovia Pastor,17,Alto Vera Cruz,Lopes,PE,70518125
5,6,Dra. Bárbara Rezende,Alameda de Caldeira,9,Marilandia,Macedo,PA,32439353
6,7,Stella Duarte,Trevo de Sá,SN,Dom Joaquim,Pereira,RJ,47359582
7,8,Vicente Costela,Fazenda da Cruz,6,São Luiz,Guerra,AM,01493-732
8,9,Davi Luiz Sales,Sítio Lima,64,Jaqueline,Peixoto,PE,27581181
9,10,Luiz Felipe Ramos,Estação Danilo Alves,34,Xodo-Marize,Nascimento,PI,64864-289

In [ ]:
#campos default
#A trativa da coluna "numero" foi tratada pelo python, porem irei definir um valor "default" para quando nao ohouve numeros

In [ ]:
command = """
  CREATE TABLE IF NOT EXISTS clientes_default (
    id SERIAL,
    nome VARCHAR(255) NOT NULL,
    endereco VARCHAR(100) NOT NULL,
    numero VARCHAR(5) DEFAULT '01'
    )
"""
command2 = """
  INSERT INTO clientes_default (nome, endereco) VALUES ('filipe', 'rua do melao 75')
"""

commands = [command, command2]

for i in commands:
  connection(i, engine)



#verificando se os valores foram alterados para "01"

pd.read_sql(
    """
    SELECT * FROM clientes_default
    """,
    engine

).head(15)

   id    nome         endereco numero
0   1  filipe  rua do melao 75     01

# Trabalhando com index

In [ ]:
#verificando o tempo de execução antes da criação do index
import time

query = """
SELECT
  *
FROM
  clientes
WHERE
  nome LIKE 'Felipe%';
"""


def simple_query(query, engine):
  #inicio
  start_time = time.time()

  #query executada
  pd.read_sql(query, engine)

  #fim
  end_time = time.time()

  #Tempo inicial menos tempo final = tempo de execução
  elapsed_time = end_time - start_time

  return elapsed_time

#Numero de rodadas que o codigo foi executado
rounds = 100
times = []

for _ in range(0, rounds):
  times.append(simple_query(text(query), engine))

#Exibe a media do tempo de execução
np.mean(times)

np.float64(0.08016672849655151)

In [ ]:
ddl = "CREATE INDEX idx_clientes_nome ON clientes (nome)"

connection(ddl, engine)

In [ ]:
rounds = 100
times = []

for _ in range(0, rounds):
  times.append(simple_query(text(query), engine))

#Exibe a media
np.mean(times)

np.float64(0.07969444274902343)

# Consulta com parametros (boas paraticas)

In [ ]:
query = """
SELECT
  *

FROM
    clientes

WHERE
  nome LIKE :nome;
"""

query = text(query)



pd.read_sql(
    query,
    engine,
    params={'nome': 'Amanda%'} #aqui é onde :nome é substituido por 'Amanda%'
)

,id,nome,endereco,numero,bairro,cidade,estado,cep
0,696,Amanda da Luz,Passarela de Ribeiro,291,Vila Santa Monica 2ª Seção,Macedo,AP,05917-372
1,699,Amanda Moreira,Estrada de Viana,SN,Renascença,Silva,AP,65411560
2,751,Amanda Farias,Viaduto de Cardoso,13,Belmonte,Pinto,MT,15808-113

# <font color='red'><center><b>Funções</center>

In [ ]:
#concat

query = """
SELECT
  endereco,
  CONCAT (
    'N°', numero
  ) AS EnderecoComNumero


FROM
  clientes;
"""

pd.read_sql(query, engine).head(5)

               endereco enderecocomnumero
0   Morro de Cavalcanti             N° 58
1       Viela de Farias             N° 86
2  Aeroporto de da Rosa             N° 21
3          Jardim Gomes             N° 32
4        Rodovia Pastor             N° 17

In [ ]:
ddl = """
CREATE FUNCTION formataNumero(numero NUMERIC)
RETURNS VARCHAR
LANGUAGE plpgsql
AS
$$
  BEGIN
    RETURN CONCAT('N° ', cast(numero AS VARCHAR));
  END;
$$;
"""

connection (ddl, engine)

### Função foi criada no banco postgree
<img src='https://awslambadafilipe1.s3.amazonaws.com/funcaoPostgree.png'></img>

In [ ]:
#Chamado  função de forma separada
query = """
SELECT formatanumero(80);
"""

pd.read_sql(query, engine)

  formatanumero
0         N° 80

In [ ]:
#Aplicando a função a uma coluna
#Foi necessario fazer um cast para numeric vista que o tipo da coluna é varchar
#Cast pra numero nao funciona quando numero é "SN", entoa foi necessário CASE
query = """
SELECT
  nome,
    CASE
      WHEN numero != 'SN'
      THEN formataNumero(CAST (numero AS NUMERIC ) )
      ELSE numero
    END AS numero

FROM
  clientes;
"""

pd.read_sql(query, engine).head(5)

                   nome numero
0        Isabella Costa  N° 58
1    Sra. Natália Pires  N° 86
2    Maria Luiza Aragão  N° 21
3       Mariah Caldeira  N° 32
4  Luiz Felipe Mendonça  N° 17

In [ ]:
#DELETANDO A FUNÇÃO
ddl = """
DROP FUNCTION formataNumero(numero VARCHAR);
"""

connection(ddl, engine)

In [ ]:
ddl = """
CREATE FUNCTION GetName(idf INT)
RETURNS VARCHAR
LANGUAGE plpgsql
AS
$$
  DECLARE name VARCHAR;

  BEGIN
    SELECT
      nome INTO name
    FROM
      clientes
    WHERE
      idf = id;

    RETURN name;
  END;
$$;
"""


connection(ddl, engine)

### Nova função criada
<img src='https://awslambadafilipe1.s3.amazonaws.com/PostgreeFuncation2.png'>

In [ ]:
#retorna da tabela cliente o nome cujo id é 696
query = """
SELECT Getname(696);
"""

pd.read_sql(
    query,
    engine
)

         getname
0  Amanda da Luz

In [ ]:
#retornando uma tabela
#No postgre, é necessário retornar o time de cada coluna na tabela, mas o comando "setof" assume que o RETURNS seja uma estrutura igual a de uma tabela especifica
ddl = """
CREATE OR REPLACE FUNCTION FiltraEstado (estadof VARCHAR)
RETURNS SETOF clientes  -- <--- Retorna um conjunto baseado na estrutura da tabela 'clientes'
LANGUAGE plpgsql
AS
$$
BEGIN
    RETURN QUERY
    SELECT
        *
    FROM
        clientes
    WHERE
        UPPER(TRIM(estado)) = UPPER(TRIM(estadof));
END;
$$;
"""

connection(ddl, engine)

In [ ]:
#filtra o estado SP
query = """
SELECT * FROM FiltraEstado('SP');
"""
dfsp = pd.read_sql(query, engine)

#filtra o estado MT
query = """
SELECT * FROM FiltraEstado('MT');
"""
dfmt = pd.read_sql(query, engine)


#Crian um df com sp e mt
df_sp_mt = pd.concat([dfsp, dfmt])

df_sp_mt

,id,nome,endereco,numero,bairro,cidade,estado,cep
0,2,Sra. Natália Pires,Viela de Farias,86,Pirineus,Novais,SP,60683288
1,44,Joaquim da Mata,Colônia Siqueira,42,Milionario,Caldeira,SP,63724-025
2,80,Olívia Nogueira,Pátio da Paz,422,Vila Santo Antônio,Alves,SP,69265011
3,88,Dra. Ester Ribeiro,Sítio de Pinto,SN,Caetano Furquim,Moraes,SP,19182581
4,99,Ana Laura Barros,Campo Antony Farias,6,Estoril,Sousa,SP,22690-646
...,...,...,...,...,...,...,...,...
34,864,Ryan Andrade,Fazenda Ramos,SN,Bom Jesus,Cardoso,MT,22872-840
35,887,Francisco Aragão,Pátio Araújo,96,Eymard,Vieira,MT,34695413
36,920,Vicente Camargo,Passarela Lara Martins,SN,Túnel De Ibirité,Novaes,MT,83453189
37,950,Pietra Vargas,Via de Pastor,92,Coração De Jesus,Pastor,MT,34231-429
38,970,Gabriel da Cunha,Recanto Garcia,SN,Granja De Freitas,Sá,MT,31016312

# Criação de procedures

In [ ]:
#CRIANDO A TABELA TESTE
ddl = """
CREATE TABLE IF NOT EXISTS TesteProcedure (
  id SERIAL,
  nome VARCHAR(255),
  idade INTEGER,

  CONSTRAINT pk_testeprocedure_id PRIMARY KEY (id)
);
"""

connection(ddl, engine)

In [ ]:
#CRIANDO A PROCEDURE
ddl = """
CREATE PROCEDURE InsereDados(nomep VARCHAR, idadep INTEGER)
LANGUAGE SQL
AS
$$
  INSERT INTO TesteProcedure (nome, idade) VALUES (nomep, idadep);
$$;
"""

connection(ddl, engine)

### Procedure criada
<img src='https://awslambadafilipe1.s3.sa-east-1.amazonaws.com/Sem+t%C3%ADtulo.png'>

In [ ]:
#Executando a função
ddl = """
CALL InsereDados('filipe', 25);
"""

connection(query, engine)

# Verificando se os dados foram inseridos
pd.read_sql(
    """
    SELECT * FROM TesteProcedure;
    """,
    engine
)

   id    nome  idade
0   5  filipe     25

In [ ]:
#Apenas um loop para inserir varios dados de uma vez

for i in range(1,10):
  ddl = f"CALL InsereDados(:nome, :idade);"
  connection(ddl,
             engine,
             params={'nome': fake.name(), 'idade': random.randint(18, 100)}
             )

pd.read_sql(
    """
    SELECT * FROM TesteProcedure;
    """,
    engine
)

   id                 nome  idade
0   5               filipe     25
1   6          Rhavi Rocha     61
2   7   Lorena Vasconcelos     66
3   8      Allana da Rocha     69
4   9         Maitê Macedo     87
5  10  Dr. Benicio Peixoto     53
6  11   Pedro Miguel Brito     34
7  12       Alexandre Lima     55
8  13    Ana Júlia Correia     60
9  14       Alexia Andrade     28

#Triggers
Usando a tabela anterior TesteProcedure

In [ ]:
#adcionando o campo id
ddl = """
ALTER TABLE TesteProcedure ADD COLUMN idnome INTEGER;
"""

connection(ddl, engine)

In [ ]:
#Criando a a tabela que ira armazenar logs de alreçãoes feitas na tablea TesteProcedure
ddl = """
CREATE TABLE LogTesteProcedure (

  id SERIAL,
  idnome INTEGER,
  data_criacao TIMESTAMP
)
"""

connection(ddl, engine)

In [ ]:
pd.read_sql(
    """
    SELECT * FROM TesteProcedure;
    """,
    engine
)

   id                 nome  idade idnome
0   5               filipe     25   None
1   6          Rhavi Rocha     61   None
2   7   Lorena Vasconcelos     66   None
3   8      Allana da Rocha     69   None
4   9         Maitê Macedo     87   None
5  10  Dr. Benicio Peixoto     53   None
6  11   Pedro Miguel Brito     34   None
7  12       Alexandre Lima     55   None
8  13    Ana Júlia Correia     60   None
9  14       Alexia Andrade     28   None

In [ ]:
#Criando a função
ddl = """
CREATE OR REPLACE FUNCTION AtualizaData()
RETURNS TRIGGER
LANGUAGE plpgsql
AS
$$
  BEGIN
    INSERT INTO LogTesteProcedure (idnome, data_criacao) VALUES (NEW.idnome, CURRENT_TIMESTAMP);
    RETURN NEW;
  END;
$$;
"""

connection(ddl, engine)

In [ ]:
ddl = """
CREATE TRIGGER AtualizaDataTrigger
AFTER INSERT ON TesteProcedure
FOR EACH ROW
EXECUTE FUNCTION AtualizaData();
"""

connection(ddl, engine)

In [ ]:
ddl = """
CALL InsereDados('filipe', 25);
"""

connection(ddl, engine)

In [ ]:
#checando a tablea de log para saber se foi populada com novos dados
query = """
SELECT
  *

FROM
  LogTesteProcedure;
"""

pd.read_sql(query, engine)

   id idnome               data_criacao
0   1   None 2026-02-01 20:39:50.510582

In [ ]:
#testando uma função para uma ddl de altereação
pd.read_sql(
    "select*from clientes;", engine
).head(5)

,id,nome,endereco,numero,bairro,cidade,estado,cep
0,1,Isabella Costa,Morro de Cavalcanti,58,Casa Branca,Novais,PA,55595-907
1,2,Sra. Natália Pires,Viela de Farias,86,Pirineus,Novais,SP,60683288
2,3,Maria Luiza Aragão,Aeroporto de da Rosa,21,Jatobá,Rodrigues,RJ,56609-687
3,4,Mariah Caldeira,Jardim Gomes,32,Gutierrez,Novais,AP,92291540
4,5,Luiz Felipe Mendonça,Rodovia Pastor,17,Alto Vera Cruz,Lopes,PE,70518125

In [ ]:
# A idéia é, quando a tabela for alterada no campo nome, teremos o nome que era e para o que foi alterado
ddl = """
CREATE TABLE LogCliente(

  id INTEGER,
  oldNome VARCHAR(255),
  newNome VARCHAR(255),
  data_criacao TIMESTAMP
)
"""

connection(ddl, engine)

In [ ]:
ddl1 = """
CREATE OR REPLACE FUNCTION AtualizaNome()
RETURNS TRIGGER
LANGUAGE plpgsql
AS
$$
  BEGIN
    INSERT INTO LogCliente (id, oldNome, newNome, data_criacao) VALUES (OLD.id, OLD.nome, NEW.nome, CURRENT_TIMESTAMP);
    RETURN NEW;
  END;
$$;
"""

ddl2 = """
CREATE TRIGGER AtualizaNomeTrigger
AFTER UPDATE ON clientes
FOR EACH ROW
EXECUTE FUNCTION AtualizaNome();
"""

#executando as duas ddls simultaneamente
ddls = [ddl1, ddl2]
for i in ddls:
  connection(i, engine)

In [ ]:
ddl = """
UPDATE Clientes
SET nome = 'Filipe'
WHERE nome = 'Isabella Costa'
"""

connection(ddl, engine)

In [ ]:
#Será que funcionou? vamos ver
pd.read_sql(
    """
    SELECT * FROM LogCliente;
    """,
    engine
)

   id         oldnome newnome               data_criacao
0   1  Isabella Costa  Filipe 2026-02-01 20:54:34.403085

# Domínios

Tipos de dados definidos pelos usuários

In [ ]:
ddl = """
CREATE DOMAIN dominio_estado VARCHAR(3)
"""

connection(ddl, engine)

In [ ]:
#altarando o tipo de dados do estado para o tipo domnio estado_estado recem criado
ddl = """
ALTER TABLE clientes ALTER COLUMN estado TYPE dominio_estado;
"""

connection(ddl, engine)

In [ ]:
#Verificando se o tipo de dados foi alterado
pd.read_sql(
    "SELECT * FROM information_schema.columns WHERE table_name = 'clientes'",
    engine
)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,geonames,public,clientes,id,1,nextval('clientes_id_seq'::regclass),NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,geonames,public,clientes,nome,2,None,NO,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,geonames,public,clientes,endereco,3,None,NO,character varying,100.0,400.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,geonames,public,clientes,numero,4,None,NO,character varying,10.0,40.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,geonames,public,clientes,bairro,5,None,NO,character varying,50.0,200.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,geonames,public,clientes,cidade,6,None,NO,character varying,50.0,200.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,geonames,public,clientes,estado,7,None,NO,character varying,3.0,12.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,geonames,public,clientes,cep,8,None,NO,character varying,10.0,40.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [ ]:
#verificando se o dominio definido aparece
pd.read_sql(
    "SELECT column_name, data_type, udt_name, domain_name FROM information_schema.columns WHERE table_name = 'clientes' AND column_name = 'estado'",
    engine
)

  column_name          data_type udt_name     domain_name
0      estado  character varying  varchar  dominio_estado

# Usuário e permissões

In [ ]:
ddl = """
CREATE ROLE admin;
CREATE ROLE user1;
"""

connection(ddl, engine)

Roles Criadas
<img src='https://awslambadafilipe1.s3.amazonaws.com/roles.png'>

In [ ]:
#dando acesso de select e insert para o user1
ddl = """
GRANT  SELECT, INSERT ON clientes TO user1;
"""

connection(ddl, engine)

In [ ]:
#dando todas as permissões para todos os tipos de operações para o usuário admin em todas as tabelas
ddl = """
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO admin;
"""

connection(ddl, engine)

In [ ]:
#adcionando a role existente a um novo usuário
ddl = """
CREATE ROLE estagiario LOGIN PASSWORD '123' IN ROLE user1;
"""

connection(ddl, engine)

In [ ]:
#criando uma nova connection string com o uusário recem criado

db_user = 'estagiario'
db_pass = '123'
db_host = '3.88.185.200' # IP da EC2
db_port = '5433'      # porta da EC2
db_name = 'geonames'

connection_string = f"postgresql+psycopg2://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}"

engine_estagiario = create_engine(connection_string)

try:
    with engine_estagiario.connect() as connection:
        print("Conexão com SQLAlchemy realizada com sucesso!")
except Exception as e:
    print(f"Erro ao conectar: {e}")

Conexão com SQLAlchemy realizada com sucesso!

In [ ]:
#verificando se a engine criada utilizando a credencial estagiario consegue ler apenas a tabela clientes, como especificado

try:
  pd.read_sql(
      "SELECT * FROM clientes;",
      engine_estagiario
  )
  print("O usuário estagiario pode ler dados da tabela clientes")
except Exception as e:
    print(f"Erro ao conectar: {e}")

O usuário estagiario pode ler dados da tabela clientes

In [ ]:
from termcolor import colored

#verificando todas as tabelas usando o usuário root
query = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';
"""

tables = pd.read_sql(query, engine)

#Agora, testando capacidade de SELECT do usuário estagiario para cada uma das tabelas
VERDE = "\033[92m"
VERMELHO = "\033[91m"

for table in tables['table_name']:
    try:
        pd.read_sql(f"SELECT * FROM {table} LIMIT 1;", engine_estagiario)

        # Envolve a string com a cor e o reset no final
        print(f"{VERDE}O usuário estagiario pode ler dados da tabela {table}{RESET}")

    except Exception as e:
        print(f"{VERMELHO}O usuário estagiario NÃO pode ler dados da tabela {table}{RESET}")

O usuário estagiario NÃO pode ler dados da tabela rollbackteste
O usuário estagiario NÃO pode ler dados da tabela links_uteis
O usuário estagiario NÃO pode ler dados da tabela tabela teste
O usuário estagiario NÃO pode ler dados da tabela produto
O usuário estagiario NÃO pode ler dados da tabela profissao
O usuário estagiario NÃO pode ler dados da tabela pedido
O usuário estagiario NÃO pode ler dados da tabela transportadora
O usuário estagiario NÃO pode ler dados da tabela vendedores
O usuário estagiario NÃO pode ler dados da tabela nomes_e_nulos
O usuário estagiario NÃO pode ler dados da tabela pedido_produto
O usuário estagiario NÃO pode ler dados da tabela fornecedor
O usuário estagiario NÃO pode ler dados da tabela nome
O usuário estagiario NÃO pode ler dados da tabela funcionario_aleatorios
O usuário estagiario NÃO pode ler dados da tabela estatisticas_pix
O usuário estagiario NÃO pode ler dados da tabela transacoes_pix
O usuário estagiario NÃO pode ler dados da tabela logtesteprocedure
O usuário estagiario NÃO pode ler dados da tabela testeprocedure
O usuário estagiario NÃO pode ler dados da tabela logcliente
O usuário estagiario pode ler dados da tabela clientes
O usuário estagiario NÃO pode ler dados da tabela clientes_default
O usuário estagiario NÃO pode ler dados da tabela funcionarios_aleatorios
O usuário estagiario NÃO pode ler dados da tabela nacionalidade

In [ ]:
#Agora irei criar um usuário com a role admin que tel total acesso a tabela cliente e fazer o mesmo teste

ddl = """
CREATE ROLE analista1 LOGIN PASSWORD '123' IN ROLE admin;
"""

connection(ddl, engine)

In [ ]:
db_user = 'analista1' #usuário analista1
db_pass = '123'
db_host = '3.88.185.200'
db_port = '5433'
db_name = 'geonames'

connection_string = f"postgresql+psycopg2://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}"

engine_analista1 = create_engine(connection_string)

#Agora, testando capacidade de SELECT do usuário estagiario para cada uma das tabelas
VERDE = "\033[92m"
VERMELHO = "\033[91m"

for table in tables['table_name']:
    try:
        pd.read_sql(f"SELECT * FROM {table} LIMIT 1;", engine_analista1)

        # Envolve a string com a cor e o reset no final
        print(f"{VERDE}O usuário estagiario pode ler dados da tabela {table}{RESET}")

    except Exception as e:
        print(f"{VERMELHO}O usuário estagiario NÃO pode ler dados da tabela {table}{RESET}")
# O unico motivo pelo qual a "tabela teste" falha é por conta dos espaços no nome, mas o usuário é capaz de escrever em todos as tabelas

O usuário estagiario pode ler dados da tabela rollbackteste
O usuário estagiario pode ler dados da tabela links_uteis
O usuário estagiario NÃO pode ler dados da tabela tabela teste
O usuário estagiario pode ler dados da tabela produto
O usuário estagiario pode ler dados da tabela profissao
O usuário estagiario pode ler dados da tabela pedido
O usuário estagiario pode ler dados da tabela transportadora
O usuário estagiario pode ler dados da tabela vendedores
O usuário estagiario pode ler dados da tabela nomes_e_nulos
O usuário estagiario pode ler dados da tabela pedido_produto
O usuário estagiario pode ler dados da tabela fornecedor
O usuário estagiario pode ler dados da tabela nome
O usuário estagiario pode ler dados da tabela funcionario_aleatorios
O usuário estagiario pode ler dados da tabela estatisticas_pix
O usuário estagiario pode ler dados da tabela transacoes_pix
O usuário estagiario pode ler dados da tabela logtesteprocedure
O usuário estagiario pode ler dados da tabela testeprocedure
O usuário estagiario pode ler dados da tabela logcliente
O usuário estagiario pode ler dados da tabela clientes
O usuário estagiario pode ler dados da tabela clientes_default
O usuário estagiario pode ler dados da tabela funcionarios_aleatorios
O usuário estagiario pode ler dados da tabela nacionalidade

In [ ]:
#apenas verificnado a tabela teste separadamente e tratando o problema do espaço no nome separadamente
pd.read_sql(
  'SELECT * FROM "tabela teste" LIMIT 1;',
  engine_analista1
)

  Names  Age  id
0  John   25   1

# Transações

In [ ]:
#essa seção simula transações de bancarias dentro de um banco SQL

ddl = """
CREATE TABLE transacoes (
  idConta SERIAL,
  cliente varchar(100),
  saldo DECIMAL(10, 2),

  CONSTRAINT pk_transacoes_idConta PRIMARY KEY (idConta)
);
"""

connection(ddl, engine)

In [ ]:
names =  [fake.name() for i in range(3)]
saldos = [random.uniform(0, 2000) for _ in range(3)]

df = pd.DataFrame({
    'cliente': names,
    'saldo': saldos
})

df

             cliente        saldo
0   Ana Beatriz Rios  1578.884164
1  Sra. Liz Silveira  1872.735355
2   Davi Luiz da Paz   693.942934

In [ ]:
df.to_sql('transacoes', engine, if_exists='replace', index=False)

3

In [ ]:
pd.read_sql(
    """
    SELECT * FROM transacoes;
    """,
    engine
)

             cliente        saldo
0   Ana Beatriz Rios  1578.884164
1  Sra. Liz Silveira  1872.735355
2   Davi Luiz da Paz   693.942934

In [ ]:
#agora que tenho a tabela pronta, hora de simular uma transação

#aqui transferindo 100 da conta 1 para a conta 2
dml = """
BEGIN;

UPDATE transacoes SET saldo = saldo - 100 WHERE idConta = 1;
UPDATE transacoes SET saldo = saldo + 100 WHERE idConta = 2;

commit;
"""

connection(dml, engine)

In [ ]:

df = pd.read_sql(
    """
    SELECT * FROM transacoes;
    """,
    engine
)
df

   idconta                  cliente    saldo
0        3        João Miguel Alves   414.00
1        1  Pedro Henrique Cassiano   304.76
2        2             Mariah Abreu  1770.74